@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poiret+One&display=swap");

* {
	box-sizing: border-box;
	font-family: "Poiret One", sans-serif;
}

header,
main,
footer {
	width: 70%;
	margin: 15px auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

header,
footer {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
}

h1 {
	font-family: "Pacifico", cursive;
	font-size: 38px;
	background: #121fcf;
	background: linear-gradient(to right, #121fcf 0%, #cf1512 100%);
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

header img {
	height: 70px;
}

ul {
	width: 70%;
	list-style: none;
	display: flex;
	gap: 10px;
	margin: auto;
	flex-wrap: wrap;
	justify-content: center;
}
li{
	background-color: #dcbfe4;
	padding: 17px;
	border-radius: 1em;
	border: 1px solid #565454;
}

ul li a {
	text-decoration: none!important;
	color: #4d57e9;
	/* а вот тут стили для кнопок + добавь эффект наведения */
}

#photo {
	width: 70%;
	margin: 30px auto;
	border: #8087e9 2px dashed;
	border-radius: 1em;
}

footer p {
	font-size: 12px;
}

/* 
Ниже пиши стили для фильтров в следующем формате:
.filter1 {} 
.filter2 {} 
и т.д. 
*/
.filter1{
	filter: blur(1px) invert(10%) hue-rotate(10deg);
}
.filter2{
	filter: drop-shadow(1px 3px 2px #4747475b) grayscale(0.7);
}
.filter3{
	filter: brightness(110%) opacity(0.7);
}
.filter4{
	filter: saturate(140%) contrast(120%) drop-shadow(7px 5px 10px #5c26153d);
}
.filter5{
	filter: sepia(80%) brightness(0.9);
}
.filter6{
	filter: grayscale(0.3) brightness(1.6) hue-rotate(276deg);
}
.filter7{
	filter: opacity(0.8) brightness(0.9) blur(1.3px) contrast(130%);
}
.filter8{
	filter: invert(6) drop-shadow(10px 10px 20px #7f9db6d6) contrast(120%) hue-rotate(130deg);
}
/* Если все фильтры уже придумал, не забудь настроить красивые анимации 
и режим адаптивности для нашего проекта :) */